html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-width: 350px;
}

code {
  font-family: 'Montserrat';
}
